body {
    background-image: url("bg2.jpeg");
    margin: 0;
}

button:hover {
    cursor: pointer;
}

#navbar {
    height: 100px;
    background-color: #000;
}

#logo {
    color: #fff;
    font-family: Poppins;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 23px;
    margin-left: 170px;
    position: fixed;
}

#find-btn,
#employ-btn {
    margin-top: 30px;
    padding: 11px 22px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border: 0;
    position: fixed;
}

#find-btn {
    background: #fff;
    color: #000;
    margin-left: calc(100% - 160px);
}

#employ-btn {
    background: #2341d5;
    color: #fff;
    margin-left: calc(100% - 280px);
}

#login-title {
    margin-top: 30px;
    margin-left: 187px;
    position: fixed;
    color: #000;
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

#label1,
#label2,
#label3,
#label4,
#label5 {
    color: #000;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    position: relative;
    margin-bottom: 5px;
}

#login-form {
    margin-top: 60px;
    margin-left: 191px;
    display: flex;
    flex-direction: column;
    position: fixed;
}

#companyname,
#companycontact,
#companyemail,
#companypassword,
#companylocation {
    width: 360px;
    padding: 14px 15px;
    border-radius: 7px;
    border: 1px solid #000;
    background: #fff;
    box-shadow: 0px 1px 20px 2px rgba(0, 0, 0, 0.10);
    margin-bottom: 15px;
}

#continue-btn {
    width: 136px;
    height: 45px;
    padding: 12px 34px;
    border-radius: 12px;
    background: #2341d5;
    box-shadow: 0px 1px 25px 4px rgba(0, 0, 0, 0.10);
    color: #fff;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border: 0;
}

/* Media Queries */
@media only screen and (max-width: 1200px) {
    #find-btn {
        margin-left: calc(100% - 220px);
    }

    #employ-btn {
        margin-left: calc(100% - 340px);
    }
}

@media only screen and (max-width: 1000px) {
    #find-btn {
        margin-left: calc(100% - 180px);
    }

    #employ-btn {
        margin-left: calc(100% - 300px);
    }
}

@media only screen and (max-width: 800px) {
    #find-btn {
        margin-left: calc(100% - 140px);
    }

    #employ-btn {
        margin-left: calc(100% - 260px);
    }
}

@media only screen and (max-width: 600px) {
    #find-btn {
        margin-left: 20px;
    }

    #employ-btn {
        margin-left: 152px;
    }

    #logo {
        margin-left: 20px;
    }

    #login-title {
        margin-left: 20px;
    }

    #login-form {
        margin-left: 20px;
    }
}